body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 750px;
  background-color: rgb(255, 187, 187);
  &_game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    &_hole {
      background-color: red;
      width: 200px;
      height: 200px;
    }
  }
}
.mole {
  width: 150px;
  height: 150px;
  background-color: rgb(126, 89, 48);
  border-radius: 50%;
  animation: appear 0.9s;
}

@keyframes appear {
  0% {
    transform: translateY(130px);
  }

  100% {
    transform: translateY(0);
  }
}
